pandas
numpy
matplotlib
seaborn
pymysql
scikit-learn
scikit-optimize
pyarrow
wordcloud
sqlalchemy==1.4.41
ipython
sql
scikit-optimize==0.10.2
xgboost
lightgbm
xgboost[dask]  # For distributed GPU training

